<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBkFW-2wowcDx51Wwkd0Kg3JPkFoAhEbtA</string>
	<key>GCM_SENDER_ID</key>
	<string>366975969911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tabourUsers</string>
	<key>PROJECT_ID</key>
	<string>tabour-sellers</string>
	<key>STORAGE_BUCKET</key>
	<string>tabour-sellers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366975969911:ios:ed099f9fcf0ee3861bb472</string>
</dict>
</plist>